<% provide(:title, "Home") %>
<p class="h1">Sample App</p>
<p>
  This is the home page for the
  <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
  sample application.
</p>

<h1>実験ページ</h1>

<div class="container">
	<div class="row">
		<div class="col-6">
			<div class="p-3 mb-2 bg-dark text-white">
		一つ目のカラム
	        </div>
	    </div>
		<div class="col-6">2つ目のカラム</div>
	</div>

	<div class="row">
		<div class="col-4">三つ目のカラム</div>
		<div class="col-4">4つ目のカラム</div>
		<div class="col-4">５つめのカラム</div>
	</div>


<table class="table">


<tr>
	<td class="table-primary">td.table-primary</td>
		
	<td class="table-warning">td.table-warning</td>
	<td class="table-info">td.table-infop</td>
</tr>
</table>
</div>